@import "modules/reset";
@import "modules/variables";
@import "modules/layout";

#app {
  min-width: 600px;
  max-height: 600px;
  padding: 10px;
}

.option__button {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 2px;
  padding: 8px 16px;
  margin-left: 8px;
  cursor: pointer;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
  &:active {
    background-color: rgba(0, 0, 0, .1);
  }
}

.bookmark-tree {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  user-select: none;
}

.bookmark-tree__item {
  position: relative;
  &:nth-child(2n) {
    background-color: #f8f8f8;
  }
}

.bookmark-tree__item:hover, .bookmark-tree__item.bookmark-tree__item_hover {
  background-color: #E0F7FA;
}

.bookmark-tree-host {
  padding: 4px 8px;
}

.bookmark-tree-host__favicon {
  height: 16px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.bookmark-tree-page {
  padding: 4px 8px 4px 24px;
}

.bookmark-tree-page__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookmark-tree-page__path {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, .6);
  font-size: 0.8em;
}


.bookmark-tree-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: none;
  width: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.bookmark-tree__item:hover .bookmark-tree-button {
  display: inline-block;
}

.bookmark-tree-button:hover {
  background-color: rgba(255, 0, 0, 0.3);
}