@import "modules/reset";
@import "modules/variables";
@import "modules/layout";

body,
html {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

body {
  min-width: 380px;
  max-width: 420px;
  overflow-x: hidden;
}

.popup__content_no-content {
  text-align: center;
  line-height: 45px;
  height: 45px;
}

.header {
  height: 36px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6cbc13;
}

.header__favicon {
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.header__button {
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 8px;
  width: 28px;
  height: 28px;
}

// cannot use this in Firefox
// .header__button path {
//   color: #7ed322;
//   &:hover {
//     color: #f44336;
//   }
// }

.header__buttonitem {
  position: absolute;
  top: 0;
  left: 0;
}

.header__button:hover .header__buttonitem--cover {
  opacity: 0;
}

.hostname {
  font-size: 12px;
  flex-grow: 1;
}

.history-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.history {
  position: relative;
  padding: 4px 6px;
  background-color: #fff;
  list-style: none;
  margin-top: 1px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;

  &:first-child {
    margin-top: 0;
  }
  &:nth-child(2n) {
    background-color: #f8f8f8;
  }
  &:hover {
    background-color: #eeffdb;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.history--loader {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    vertical-align: middle;
    opacity: 0.3;
    transform: scale(1.4);
    animation: spin 1.5s linear infinite;
  }
}

.history_current {
  color: #49820b;
}

.history__title {
  font-size: 15px;
  font-weight: bold;
}

.history__description {
  display: flex;
  font-size: 10px;
  color: #777;
}

.history__path {
  flex-grow: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.history__time {
  white-space: nowrap;
  margin-left: 10px;
}

.history__control {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.history__button {
  display: none;
  height: 100%;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.history:hover .history__button {
  display: inline-block;
}

.history__button_delete:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.history__button_open-in-new:hover {
  background-color: rgba(60, 255, 0, 0.3);
}
